html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  background: #2C2D30;
  font-weight: 100;
}

h1 {
  font-size: 3.2rem;
  margin: 0 0 2rem 0;
  font-weight: 600;
  padding: 0;
}

h2 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;

}

h3 {
  font-size: 2.4rem;
  margin: 0 0 1rem 0;
  font-weight: 400;
  padding: 0;
}

h4 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

button {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.87);
  background: #000;
  border: none;
  border-radius: .3rem;
  padding: .8rem 4.0rem;
  margin: 2.4rem 0;
}

a {
  color: white;
  font-weight: 500;
}

a:hover {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

a:active {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

a:visited {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

a:focus {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.primary-btn {
  background-color: #C08C61;
}

/*.smoke {
  background-image: url('http://i.giphy.com/OHwm6mpwnXnQQ.gif');
  background-color: #2C2D30;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}*/

.global-nav a {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.4rem;
  font-weight: 500;
}

.global-nav li {
  display: inline;
  margin-right: 3.2rem;
}

/*.primary-action {
  background-color: #C08C61;
  padding: .4rem 1.0rem;
  border-radius: 2.6rem;
}*/

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #2C2D30;
    opacity: 0.9;
}

.smoke {
    position: relative;
    background: #2C2D30;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.87);
}
.smoke:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: url('http://i.giphy.com/7qV3yswT0K8hi.gif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.smoke {
  padding-top: 6rem;
}

.app-info {
  margin-top: 12rem;
}

.add-photo {
  min-height: 64rem;
  background-color: #323438;
}

.coffee-photos .row {
  margin-bottom: .8rem;
}

.add-photo img {
  margin-left: .8rem;
}

.tasting {
    position: relative;
    background: #2C2D30;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.87);
    min-height: 80rem;
}
.tasting:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: url('../img/cone.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 80rem;
}




.tag-parent {
  height: 6.4rem;
  background-color: #323438;
}

.tag-parent:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.tag-wrapper {
display: inline-block;
vertical-align: middle;
}


.tag {
  display: inline-block;
  background-color: #414449;
  padding: .2rem 1.6rem;
  border-radius: 2.6rem;
  margin-left: .8rem;
}


.special {
  background-color: #C08C61;
}

.snippet {
  margin-bottom: 4rem;
}

.tasting-snippet {
  margin-top: 30rem;
}

.container {
  padding: 6rem;
}

.notes {
  z-index: 9999;
  margin-top: -28rem;
}

.collect {
  margin-top: 14rem;
}

.pic {
 margin-top: 8rem;
}

.note {
  font-weight: 600;
  color: #C08C61;
}

.roasts {
  margin-top: 28rem;
  min-height: 56rem;
  background-color: #323438;
}


/*contact*/


.input-wrapper {
  margin-bottom: 1.6rem;
}

.input-wrapper:first-child {
  margin-top: 2.4rem;
}

.contact {
  padding-top: 24rem;
  width: 40rem;
}

input[type=text] {
  font-size: 1.4rem;
  height: 4rem;
  padding-left: 1rem;
  min-width: 40rem;
  border-radius: .3rem;
  border: none;
}

input[type=email] {
  font-size: 1.4rem;
  height: 4rem;
  padding-left: 1rem;
  min-width: 40rem;
  border-radius: .3rem;
  border: none;
}

input[type=textarea] {
  font-size: 1.4rem;
  height: 4rem;
  padding-left: 1rem;
  min-width: 40rem;
  border-radius: .3rem;
  border: none;
}

input[type=submit] {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: #C08C61;
  border: none;
  border-radius: .3rem;
  padding: .8rem 4.0rem;
  margin: 2.4rem 0;

}

input:focus {
  outline:none;
  background-color: #fff;
  color: #414449;
}

.makers-bg {
  background-color: #414449;
}
